# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Build output
dist/
build/
out/

# VSCode settings
.vscode/

# Coverage reports
coverage/

# Local development files
*.local

# Yarn
.yarn/
.pnp.*

# Python cache
__pycache__/

# Python virtual environments
venv/
.envrc

# Python bytecode
*.pyc
*.pyo

# Binary files
*.bin
*.exe
*.dll

# Bin folder
bin/

#libraries
lib/

# Temporary files
*.tmp
*.temp  

# JetBrains IDEs
.idea/